#mp-pusher a {
	text-decoration: none;
	color: #f7f7f7;
	outline: none;
}

#mp-pusher a:hover, #mp-pusher a:focus {
	text-decoration: none;
	color: #fff;
	outline: none;
}

#mp-pusher h2 {

	color: white;
}



@media screen and (max-width: 69em) {
	.block {
		float: none;
		width: 100% !important;
		padding: 1em;
	}
}

@media screen and (max-width: 25em) {

	body {
		font-size: 80%;
	}

	.codrops-icon span {
		display: none;
	}

}