/*if java isnt working this needs to be applied to sticky the nav on top*/

#navcontainer{
top: 0;
position: fixed;
background-color: rgba(171, 78, 18, .9)!important;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}