/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
$header-orange: #ff9933;

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

#navcontainer{
	background: url('/images/homepage/wispheader.jpg');
	width: 100%;
	// height: 100vh;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}

main {
  margin-top: 130px;


  @media (max-width: $screen-sm-min) {
  	margin-top: 100px;
  }


}

.container {

	h2 {
	  font-family:sacramento, "Book Antiqua", Palatino, serif;
		font-size: 70px;
		margin-bottom: 5px;
		font-weight: 100;
		.header-orange {
			color: $header-orange;
		}
	}


	h3 {
		font-weight: bold;
		margin-bottom: 20px;
	}
}


.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow:
	hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}